.header {
  background-color: #f4c806;
  color: black;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1000px;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.mobile-bar {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: 0.3s;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: rgba(208, 147, 5, 0.737);
  color: black;
}

.logout-button {
  background-color: rgba(208, 147, 5, 0.737);
  color: black;
  border: 1px solid black;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.logout-button:hover {
  background-color: #555;
  color: white;
}

.hamburger {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .mobile-bar {
    display: flex;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: #f4c806;
    padding: 10px 0;
    gap: 10px;
    align-items: center;
  }

  .mobile-menu .nav-link,
  .mobile-menu .logout-button {
    width: auto;
    text-align: center;
    padding: 10px 20px;
  }
}
